<div id="modal-div"></div>
<%= form_for(@user, remote: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="user-form" id="user-form">
    <ul>
      <li>
        <%= f.text_field :name, placeholder: "Nombre", class: 'form-control', required: true%>
      </li>
      <li>
        <%= f.text_field :mail, placeholder: "Mail" , class: 'form-control', required: true, type: 'email'%>
      </li>
      <li>
        <%= f.text_field :birth_date , placeholder: "Fecha de Nacimiento", class: 'form-control date-picker', required: true %>
      </li>
      <li>
        <%= f.text_field :tel, placeholder: "Cel/Tel" , class: 'form-control', type: 'text', required: true %>
      </li>
      <li>
        <%= select(:user, :local, options_for_select(['Luis Alberto Herrera 1193', 'Mercado del Puerto']),{prompt: 'Local'}, {class: 'form-control' }) %>
      </li>
      <li class="options-li">
        <label class="col-xs-12 col-sm-6 form-label">¿Volverías a Patagonia Bewing Co.? </label>
        <div class="options-box pull-right box1 col-xs-12 col-sm-6" style="padding:0px">
          <div>
          <a href="#" clas="option"><span class="form-control option" id="rec_0">0</span></a>
          <a href="#" clas="option"><span class="form-control option" id="rec_1">1</span></a>
          <a href="#" clas="option"><span class="form-control option" id="rec_2">2</span></a>
          <a href="#" clas="option"><span class="form-control option" id="rec_3">3</span></a>
          <a href="#" clas="option"><span class="form-control option" id="rec_4">4</span></a>
          <a href="#" clas="option"><span class="form-control option pull-right active" id="rec_5">5</span></a>
            <%= f.text_field :return_rate , class: 'form-control hidden' %>
          </div>
            <div>
          <div class="col-sm-4 col-xs-4" style="padding:0px!important;color:white">No probable</div>
          <div class="col-sm-offset-4 col-xs-offset-4 col-sm-4 col-xs-4" style="padding:0px!important;text-align: right;color:white">Muy probable</div>
        </div>
        </div>

      </li>
      <li class="options-li">
        <label class="form-label col-xs-12 col-sm-6">¿Recomendarías Patagonia Bewing Co. a un amigo/a?</label>
        <div class="options-box pull-right box2 col-sm-6 col-xs-12" style="padding:0px">
          <a href="#" clas="option"><span class="form-control option" id="rec_0">0</span></a>
            <a href="#" clas="option"><span class="form-control option" id="rec_1">1</span></a>
              <a href="#" clas="option"><span class="form-control option" id="rec_2">2</span></a>
                <a href="#" clas="option"><span class="form-control option" id="rec_3">3</span></a>
                  <a href="#" clas="option"><span class="form-control option" id="rec_4">4</span></a>
                    <a href="#" clas="option"><span class="form-control option pull-right active" id="rec_5">5</span></a>
            <%= f.text_field :recommendation_rate , class: 'form-control hidden' %>
          <div class="col-sm-4 col-xs-4" style="padding:0px!important;color:white">No probable</div>
          <div class="col-sm-offset-4 col-xs-offset-4 col-sm-4 col-xs-4" style="padding:0px!important;text-align: right;color:white">Muy probable</div>
        </div>
      </li>
      <li class="suggestings">
        <%= f.text_area :suggestions, placeholder: "Sugerencias..." , class: 'form-control', rows: 5%>
      </li>
    </ul>

      <button type="submit" class="hidden"></button>
      <div class="row" style="text-align: center; margin-top: 4%">
        <a type="button" data-remote="true" href=<%= user_modal_path() %> class="send-button" style="color:white">Enviar</a>
      </div>
</div>
    <%= link_to '', '#', class: 'btn btn-danger', 'data-toggle' => 'modal', 'data-target' => '#user-modal', id: "user_modal_link", style: 'display:none;' %>
<% end %>

